body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div.back {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em 1em;
    border-radius: 15px;
}
div.index div.alert {
    font-size: 200%;
}
div.index {
    width: 50%;
    margin: auto;
}

@media (max-width: 640px) {
    div.index div.alert {
        font-size: 120%;
    }
    div.index {
        width: 99%;
    }
    .no-mobile {
        visibility: hidden;
        display: none;
    }
}
